In [3]:
import pandas as pd

#df=pd.read_csv('pokemon_data.csv')
#print(df.head(3))
#print(df.tail(3))

#df_xlsx=pd.read_excel('pokemon_data.xlsx')
#print(df_xlsx.tail(3))

df=pd.read_csv('pokemon_data.txt',delimiter='\t')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [17]:
#Read headers
#print(df.columns)

#Read a specific column
print(df['Name'][1:10])
print(df[['#','Name','Type 1']][0:10])

1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object
   #                       Name Type 1
0  1                  Bulbasaur  Grass
1  2                    Ivysaur  Grass
2  3                   Venusaur  Grass
3  3      VenusaurMega Venusaur  Grass
4  4                 Charmander   Fire
5  5                 Charmeleon   Fire
6  6                  Charizard   Fire
7  6  CharizardMega Charizard X   Fire
8  6  CharizardMega Charizard Y   Fire
9  7                   Squirtle  Water

In [19]:
#Pandas Series
import pandas as pd
s=pd.Series(dtype=int)
print(s)

Series([], dtype: int32)

In [22]:
import numpy as np
data=np.array(['a','b','c','d'])
s1=pd.Series(data)
print(s1)

0    a
1    b
2    c
3    d
dtype: object

In [31]:
s2=pd.Series(data,index=[100,101,102,103])
print(s2)

100    a
101    b
102    c
103    d
dtype: object

In [28]:
dic={'a':1,'b':2,'c':3,'d':4,'e':5}
s=pd.Series(dic,index=['a','e','d','b','c','f'])
print(s)

a    1.0
e    5.0
d    4.0
b    2.0
c    3.0
f    NaN
dtype: float64

In [33]:
s=pd.Series(5,[0,1,2,3,4,5])
print(s)

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [40]:
s=pd.Series([100,101,102,103,104,105,106],index=[0,1,2,3,4,5,6])
print(s[0])
print(s[:3])
print(s[-3:-1])

100
0    100
1    101
2    102
dtype: int64
4    104
5    105
dtype: int64

In [43]:
print(s[[1,2,3]])

1    101
2    102
3    103
dtype: int64

In [48]:
s=pd.Series([100,101,102,103,104,105,106],index=['a','b','c','d','e','f','g'])
print(s[['a','b','c']])

a    100
b    101
c    102
dtype: int64

In [49]:
#Creating Dataframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [51]:
df=pd.DataFrame([1,2,3,4])
print(df)

   0
0  1
1  2
2  3
3  4

In [56]:
data=[['Navya',70903],['Bharatesh',99167],['Latha',97310]]
df=pd.DataFrame(data,columns=['Name','PhoneNo'],dtype='int')
print(df)

        Name  PhoneNo
0      Navya    70903
1  Bharatesh    99167
2      Latha    97310

In [58]:
dic={'Name':['Navya','Nandu','Bhuv'],'Gender':['f','f','m']}
df=pd.DataFrame(dic,index=['First','Sec','third'])
print(df)

        Name Gender
First  Navya      f
Sec    Nandu      f
third   Bhuv      m