In [4]:
import pandas as pd

#df=pd.read_csv('pokemon_data.csv')
#print(df.head(3))
#print(df.tail(3))

#df_xlsx=pd.read_excel('pokemon_data.xlsx')
#print(df_xlsx.tail(3))

df=pd.read_csv('pokemon_data.txt',delimiter='\t')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [5]:
#Read headers
#print(df.columns)

#Read a specific column
print(df['Name'][1:10])
print(df[['#','Name','Type 1']][0:10])

1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object
   #                       Name Type 1
0  1                  Bulbasaur  Grass
1  2                    Ivysaur  Grass
2  3                   Venusaur  Grass
3  3      VenusaurMega Venusaur  Grass
4  4                 Charmander   Fire
5  5                 Charmeleon   Fire
6  6                  Charizard   Fire
7  6  CharizardMega Charizard X   Fire
8  6  CharizardMega Charizard Y   Fire
9  7                   Squirtle  Water

In [6]:
#Pandas Series
import pandas as pd
s=pd.Series(dtype=int)
print(s)

Series([], dtype: int32)

In [7]:
import numpy as np
data=np.array(['a','b','c','d'])
s1=pd.Series(data)
print(s1)

0    a
1    b
2    c
3    d
dtype: object

In [8]:
s2=pd.Series(data,index=[100,101,102,103])
print(s2)

100    a
101    b
102    c
103    d
dtype: object

In [9]:
dic={'a':1,'b':2,'c':3,'d':4,'e':5}
s=pd.Series(dic,index=['a','e','d','b','c','f'])
print(s)

a    1.0
e    5.0
d    4.0
b    2.0
c    3.0
f    NaN
dtype: float64

In [10]:
s=pd.Series(5,[0,1,2,3,4,5])
print(s)

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [11]:
s=pd.Series([100,101,102,103,104,105,106],index=[0,1,2,3,4,5,6])
print(s[0])
print(s[:3])
print(s[-3:-1])

100
0    100
1    101
2    102
dtype: int64
4    104
5    105
dtype: int64

In [12]:
print(s[[1,2,3]])

1    101
2    102
3    103
dtype: int64

In [13]:
s=pd.Series([100,101,102,103,104,105,106],index=['a','b','c','d','e','f','g'])
print(s[['a','b','c']])

a    100
b    101
c    102
dtype: int64

In [14]:
#Creating Dataframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [15]:
df=pd.DataFrame([1,2,3,4])
print(df)

   0
0  1
1  2
2  3
3  4

In [20]:
data=[['Navya',70903],['Bharatesh',99167],['Latha',97310]]
df=pd.DataFrame(data,columns=['Name','phone no'],dtype='int')
print(df)

        Name  phone no
0      Navya     70903
1  Bharatesh     99167
2      Latha     97310

In [23]:
dic={'Name':['Navya','Nandu','Bhuv'],'Gender':['f','f','m']}
df=pd.DataFrame(dic,index=['First','Sec','third'],columns=['Name','Gender'])
print(df)

        Name Gender
First  Navya      f
Sec    Nandu      f
third   Bhuv      m

In [24]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [57]:
#create df from list odf dictionaries
ld=[{'a':[1,2,3],'b':2,'c':3},{'a':5,'b':6}]
df=pd.DataFrame(ld,index=['first', 'second'],columns=['a','b','c','Name','Gender'])
print(df,"\n")
#print("\n")
print(df['a'])

                a  b    c  Name  Gender
first   [1, 2, 3]  2  3.0   NaN     NaN
second          5  6  NaN   NaN     NaN

first     [1, 2, 3]
second            5
Name: a, dtype: object

In [71]:
#Create a DataFrame from Dict of Series
dic={'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(dic)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [72]:
df["three"]=pd.Series([100,101,102,103],index=['a','b','c','d'])
print(df)

   one  two  three
a  1.0    1    100
b  2.0    2    101
c  3.0    3    102
d  NaN    4    103

In [73]:
df['four']=df['one']+df['three']
print(df)

   one  two  three   four
a  1.0    1    100  101.0
b  2.0    2    101  103.0
c  3.0    3    102  105.0
d  NaN    4    103    NaN

In [74]:
del(df['four'])
print(df)

   one  two  three
a  1.0    1    100
b  2.0    2    101
c  3.0    3    102
d  NaN    4    103

In [75]:
df.pop('three')
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [76]:
#Row Selection
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [77]:
print(df.iloc[1])

one    2.0
two    2.0
Name: b, dtype: float64

In [79]:
print(df[0:5])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [106]:
df1=pd.DataFrame([['Navya',20],['Nandu',30]],columns=['Name','Score'])
df2=pd.DataFrame([['Bhuvan',40],['Appu',35]],columns=['Name','Score'])
df1=df1.append(df2)
print(df1)
print(df1.loc[0],'\n')
df1=df1.drop(0)
print(df1,'\n')

     Name  Score
0   Navya     20
1   Nandu     30
0  Bhuvan     40
1    Appu     35
     Name  Score
0   Navya     20
0  Bhuvan     40

    Name  Score
1  Nandu     30
1   Appu     35

In [84]:
dic={'Name':['Navya','Nandu','Bhuv'],'Gender':['f','f','m']}
df=pd.DataFrame(dic,index=['First','Sec','third'],columns=['Name','Gender'])
print(df)

        Name Gender
First  Navya      f
Sec    Nandu      f
third   Bhuv      m

In [86]:
ld=[{'a':[1,2,3],'b':2,'c':3},{'a':5,'b':6}]
df=pd.DataFrame(ld,index=['first', 'second'],columns=['a','b','c'])
print(df)

                a  b    c
first   [1, 2, 3]  2  3.0
second          5  6  NaN

In [101]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8